html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
a {
	text-decoration: none;
	color: #0086b3;
	font: 16px bold Arial, Helvetica, sans-serif;
}
a:hover {text-decoration: underline;}
article.column {
	width: 300px;
	min-height: 300px;
	margin-right: 30px;
	color: #444;
}
article.column-last {margin-right: 0;}
footer {
	padding: 15px 0;
	border-top: 3px solid #ddd;
	margin-top: 30px;
}
h1 {font: 28px Arial, Helvetica, sans-serif;}
h2 {
	font: 20px Arial, Helvetica, sans-serif;
	border-bottom: 1px dashed #ddd;
}
header {
	padding: 15px 0;
	border-bottom: 3px solid #ddd;
	margin-bottom: 15px;
	overflow: hidden;
}
	header a {
		color: #0086b3;
		font-size: 19px;
	}
p {
    margin: 15px 0;
    font: 16px Georgia, "Times New Roman", serif;
    line-height: 25px;
    color: #444;
}
section {
	width: 960px;
    margin: auto;
    overflow: hidden;
}
table {
	
	border-collapse: collapse;
	width: 100%;
}
	table thead {font: 16px bold Arial, Helvetica, sans-serif;}
		table tbody tr {border-top: 1px solid #ddd;}
		table thead th,
		table tbody td {
			text-align: left;
			vertical-align: middle;
			padding: 10px;
		}
	table .small {width: 50px;}
	table .medium {width: 100px;}
	table .large {width: 250px;}
	table .center {text-align: center;}
	table .right {text-align: right;}
ul {list-style-type: none;}
#logo {text-align: middle;}
#main {min-height: 500px;}
	#main .fade {
		padding: 20px;
		background-color: #fff;
		border-radius: 3px;
	}
#nav {
	overflow: hidden;
	float: right;
	margin-top: 14px;
}
	#nav li {
		font: 16px Georgia, "Times New Roman", serif;
		float: left;
		display: inline;
		color: #444;
	}
	#nav li.spacer {margin: 0 10px;}
.internal {
	min-height: 400px;
	margin-bottom: 15px;
	padding: 15px;
}
.column {
	float: left;
	display: inline;
}
.blue {background-color: #0086b3;}
.blue-text {color: #0086b3;}
.blue-border {
	border: 10px solid #0086b3;
	border-radius: 5px;
}
.error {background-color: #f03c00;}
.fancy-form {width: 350px;}
	.fancy-form label {
		display: block;
		width: 200px;
	}
	.fancy-form input[type="text"],
	.fancy-form input[type="date"],
	.fancy-form input[type="password"],
	.fancy-form textarea {
		width: 342px;
		display: block;
	}
	.fancy-form textarea {
		height: 100px;
		width: 346px;
	}
.green {background-color: #86b300;}
.green-text {color: #86b300;}
.green-border {
	border: 10px solid #86b300;
	border-radius: 5px;
}
.purple {background-color: #b30086;}
.purple-text {color: #b30086;}
.purple-border {
	border: 10px solid #b30086;
	border-radius: 5px;
}
.table-border {
	padding: 15px;
	margin: 15px 0;
}
